.info {
  .container {
    padding: 0 16px;
  }
  .card {
    max-width: 350px;
    margin: 0 auto;
  }
  .column {
  }
  .section-title {
  }
  .text {
  }
  .btn {
  }
}
.imgBanner {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
